@page "/"
<PageTitle>Главная страница</PageTitle>
<Layout>
    <LayoutHeader></LayoutHeader>
    <LayoutContent>
        <div class="about_website">
            <h3>О сайте</h3>
            <p>
                Данный сайт представляет ваш собсвенный интернет словарь, который вам позволит узнать больше слов в представленных на этом ресурсе языках. Вы сможете здесь вести запись незнакомых вам слова, сохрять их, изменять списки слов под ваше усмотрение, ежедневно получать новые слова для изучения, а так же весело проводить заучивание слов за различными интерактивными играми.
            </p>
            <p>
                По всем вопросам вы можете написать:
            </p>
            <p>
                Спасибо за посещение вэб-сайта.
            </p>
        </div>
    </LayoutContent>
    <LayoutFooter></LayoutFooter>
</Layout>
