@page "/language/tatarcha"
@using static BlazorWebLanguageLearn.Components.ThemeTable;
<PageTitle>Татарский язык</PageTitle>

<Layout Class="page_layout">
    <LayoutHeader>
        <h3>Татарский язык</h3>
    </LayoutHeader>
    <LayoutContent>
        <div class="main_content">
            <ThemeTable Language="tatarcha"></ThemeTable>
            <div class="about_page">
                <h4>О разделе</h4>
                <div class="about_page_text">
                    <p>На данной странице вы сможете выбрать тему для изучения из таблицы. По ходу обучения вы можете в любой момент заново вернуться к какой-то определенной теме. После прохождения урока вам будут даваться специальные задания по пройденному материалу, ваши ответы на тестовые задания будут сохранены, чтобы вы смогли провести работу над ошибками. Удачи вам в обучении!</p>
                </div>
            </div>
        </div>
    </LayoutContent>
    <LayoutFooter>

    </LayoutFooter>
</Layout>