h3, р4{
    text-align:center;
}
.main_content{
    margin-top: 2%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex: 1 1 0px;
    gap:1%;
}
.about_page_text{
    width:100%;
}