/* _content/BlazorWebLanguageLearn/Components/ThemePage.razor.rz.scp.css */
.theme_page_sidebar_and_theme_text_container[b-krwv0i0bmo]
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

h3[b-krwv0i0bmo]
{
    text-align:center;
    padding: 3%;
    padding-top:0;
}
/* _content/BlazorWebLanguageLearn/Components/ThemeTable.razor.rz.scp.css */
table_and_button_block[b-qjv2545mru]{
    display:flex;
    flex-direction:column;
}

.theme_table_button[b-qjv2545mru] {
    width: 100%;
    margin: 1% 2%;
    position: relative;
    border: 2px solid #F5E1A6;
    font-size: 15px;
    transition: 1s;
    padding: 7px 20px;
    outline: none;
}

.theme_table_button[b-qjv2545mru]:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: 1s;
}

.theme_table_button:hover[b-qjv2545mru]:after {
    border-color: #c3b990;
    width: calc(100% - 15px);
    height: calc(100% + 15px);
}

.button_block[b-qjv2545mru]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a[b-qjv2545mru]{
    text-decoration:none;
    color:black;
}

a:hover[b-qjv2545mru] {
    color: #F5E1A6;
}
/* _content/BlazorWebLanguageLearn/Components/ThemeText.razor.rz.scp.css */
/* _content/BlazorWebLanguageLearn/Pages/Index.razor.rz.scp.css */
h3[b-hj4r5k7laq]{
    
    text-align: center;
}

.about_website[b-hj4r5k7laq] {
    padding: 3%;
    font-size: 15px;
}

.about_website > *[b-hj4r5k7laq] {
    padding: 1%;
}
/* _content/BlazorWebLanguageLearn/Pages/TatarchaPage.razor.rz.scp.css */
h3[b-y7onj4404h], р4[b-y7onj4404h]{
    text-align:center;
}
.main_content[b-y7onj4404h]{
    margin-top: 2%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex: 1 1 0px;
    gap:1%;
}
.about_page_text[b-y7onj4404h]{
    width:100%;
}
